{{!-- <h1>This is my home page</h1> --}}


<form class="" action="/settings" method="post">
    <input type="text" name="smsCost" placeholder="enter sms cost">
    <input type="text" name="callCost" placeholder="enter call cost">
    <input type="text" name="callCost" placeholder="enter warning level">
    <input type="text" name="callCost" placeholder="enter critical level">
    <input type="submit">
</form>